<article class="post card">
      <div class="title card-header">
        <p>Load ID: {{id}}</p>
        <p>Posted by {{user.username}}</p>
      </div>
      <div class="card-body">
        <p>From {{origin}} to {{destination}}</p>
        <p>Pickup Date: {{pickup_date}}</p>
        <p>Weight: {{weight}}lb</p>
        <p>Miles: {{miles}}</p>
        <p>Equipment: {{equipment_type}}</p>
      </div>
</article>