<article class="card col my-2">
      <div class="title card-header text-center">
        <p id="white">Load ID: {{id}}</p>
        <p id="white">Posted by <a href="/user/{{user.id}}">{{user.username}}</a></p>
      </div>
      <div class="card-body">
        <p><strong>From</strong> {{origin}} <strong>to</strong> {{destination}}</p>
        <p><strong>Pickup Date:</strong> {{pickup_date}}</p>
        <p><strong>Weight:</strong> {{weight}}lb</p>
        <p><strong>Miles:</strong> {{miles}}</p>
        <p><strong>Equipment:</strong> {{equipment_type}}</p>
      </div>
</article>