<article class="post card">
      <div class="title card-header">
        <p id="white">Load ID: {{id}}</p>
        <p id="white">Posted by <a class="link nav" href="/user/{{user.id}}">{{user.username}}</a></p>
      </div>
      <div class="card-body">
        <p>From {{origin}} to {{destination}}</p>
        <p>Pickup Date: {{pickup_date}}</p>
        <p>Weight: {{weight}}lb</p>
        <p>Miles: {{miles}}</p>
        <p>Equipment: {{equipment_type}}</p>
      </div>
</article>